* {
  margin: 0px;
  padding: 0px; }

.background:nth-of-type(1) {
  background-color: #fff;
  height: 1013px; }

.header {
  width: 1160px;
  margin: 0 auto;
  padding: 37px 0px; }
  .header .logo {
    display: inline-block;
    width: 205px; }
  .header .socialNetworks {
    display: inline-block;
    margin-left: 794px; }
    .header .socialNetworks .socialNetworks__logo {
      margin: 0 5px;
      display: inline-block;
      background-image: url("../img/socialNetworks-logo.png");
      background-repeat: no-repeat;
      width: 17px;
      height: 17px; }
    .header .socialNetworks .socialNetworks__logo:nth-of-type(1) {
      background-position: 7px 0px; }
    .header .socialNetworks .socialNetworks__logo:nth-of-type(2) {
      background-position: -10px 0px; }
    .header .socialNetworks .socialNetworks__logo:nth-of-type(3) {
      background-position: -27px 0px; }
    .header .socialNetworks .socialNetworks__logo:nth-of-type(4) {
      background-position: -43px 0px; }
    .header .socialNetworks .socialNetworks__logo:nth-of-type(5) {
      background-position: -60px 0px; }

.menu {
  display: block;
  margin: 0 auto;
  width: 1160px;
  background-color: #2a2d32;
  height: 57px;
  list-style: none; }
  .menu .menu__item {
    float: left;
    padding: 0px 35px;
    height: 57px; }
    .menu .menu__item .menu__link {
      color: #fff;
      text-decoration: none;
      height: 3.5em;
      line-height: 3.5em;
      text-align: center;
      font-family: tahoma;
      font-size: 12px; }
  .menu .menu__item:nth-of-type(n+2) {
    border-left: 1px solid black; }
  .menu .menu__item:hover {
    background-color: #248cec; }
    .menu .menu__item:hover .menu__link {
      color: #f4b60d; }
  .menu .menu__item--search {
    float: left;
    height: 57px;
    border-left: 1px solid black;
    width: 523px;
    position: relative; }
    .menu .menu__item--search .menu__search {
      width: 150px;
      position: absolute;
      top: 5px;
      /* How vertical center align?*/
      right: -70px;
      background-color: #35383c;
      border: 1px solid black;
      padding: 15px 80px 15px 10px;
      /* Question #7  */ }
      .menu .menu__item--search .menu__search ::-webkit-input-placeholder {
        color: #5d6063; }
      .menu .menu__item--search .menu__search ::-moz-placeholder {
        color: #5d6063; }
      .menu .menu__item--search .menu__search :-moz-placeholder {
        color: #5d6063; }
      .menu .menu__item--search .menu__search :-ms-input-placeholder {
        color: #5d6063; }
    .menu .menu__item--search .menu__searchChar {
      display: block;
      width: 14px;
      height: 15px;
      position: absolute;
      top: 20px;
      right: -55px; }

.carousel {
  width: 1160px;
  margin: 40px auto 0 auto;
  position: relative;
  height: 470px; }
  .carousel .carousel__manager {
    position: absolute;
    left: 580px;
    bottom: 20px;
    width: 100px;
    height: 15px;
    z-index: 1; }
    .carousel .carousel__manager .carousel__button {
      display: inline-block;
      margin-left: 10px;
      background-color: white; }
      .carousel .carousel__manager .carousel__button .carousel__buttonState {
        width: 10px;
        height: 10px;
        margin: 3px;
        background-color: black;
        visibility: hidden; }
  .carousel .carousel__wrapper {
    width: 1160px;
    overflow: hidden;
    position: relative; }
    .carousel .carousel__wrapper .carousel__items {
      width: 10000px;
      position: relative; }
      .carousel .carousel__wrapper .carousel__items .carousel__block {
        float: left;
        width: 1160px; }
        .carousel .carousel__wrapper .carousel__items .carousel__block img {
          display: block; }

.advantages {
  width: 1160px;
  margin: 110px auto 0 auto; }
  .advantages .advantage::after, .advantages .advantage::before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat; }
  .advantages .advantage::after {
    width: 90px;
    height: 70px;
    left: -100px;
    top: -45px; }
  .advantages .advantage::before {
    width: 32px;
    height: 32px;
    top: -45px; }
  .advantages .advantage:nth-of-type(1)::after {
    background-image: url("../img/advantages-01.png"); }
  .advantages .advantage:nth-of-type(1)::before {
    background-image: url("../img/advantages-1.png"); }
  .advantages .advantage:nth-of-type(2)::after {
    background-image: url("../img/advantages-02.png"); }
  .advantages .advantage:nth-of-type(2)::before {
    background-image: url("../img/advantages-2.png"); }
  .advantages .advantage:nth-of-type(3)::after {
    background-image: url("../img/advantages-03.png"); }
  .advantages .advantage:nth-of-type(3)::before {
    background-image: url("../img/advantages-3.png"); }

.advantage {
  width: 235px;
  display: inline-block;
  position: relative;
  margin-left: 125px; }
  .advantage .advantage__name {
    font-weight: 900;
    font-size: 20px; }
  .advantage .advantage__description {
    margin: 10px 0px; }
  .advantage .advantage__link {
    text-decoration: none;
    color: black; }
  .advantage .advantage__link:hover {
    color: #248cec; }

.services {
  width: 1160px;
  margin: 0px auto 0 auto;
  padding-top: 45px; }
  .services .services__header {
    color: white;
    margin-bottom: 50px;
    font-size: 20px; }
  .services .services__service {
    display: inline-block;
    position: relative; }
    .services .services__service .services__photoCover {
      position: absolute;
      width: 260px;
      height: 260px;
      background: rgba(32, 139, 232, 0.5);
      visibility: hidden; }
    .services .services__service .services__name {
      position: absolute;
      text-align: center;
      left: 30%;
      bottom: -50px;
      color: white; }
  .services .services__service:hover .services__photoCover {
    visibility: visible; }
  .services .services__service:hover .services__name {
    color: #f4b60d; }
  .services .services__service:nth-of-type(n+2) {
    margin-left: 36px; }

.background:nth-of-type(2) {
  background-color: #2a2d32;
  height: 500px; }

.background:nth-of-type(3) {
  background-color: #f7f7f7;
  padding-top: 47px;
  height: 500px;
  overflow: hidden; }

.main {
  width: 1160px;
  margin: 0 auto; }

.news {
  width: 48%;
  float: left; }
  .news .news__header {
    font-family: sans-serif; }
  .news .news__item {
    padding: 30px 0px; }
    .news .news__item .news__name:hover {
      color: #248cec; }
    .news .news__item .news__photo {
      display: block;
      float: left; }
    .news .news__item .news__info {
      margin-left: 10px;
      height: 150px;
      float: left;
      width: 360px;
      font-family: sans-serif; }

.clierfix::after {
  content: '';
  clear: both;
  display: block; }

.banners {
  width: 48%;
  height: 400px;
  float: left;
  margin-left: 40px; }
  .banners .bannersHeader {
    margin-bottom: 20px;
    font-family: sans-serif; }

.dropMenu .dropMenu__item {
  list-style: none;
  padding: 10px; }
  .dropMenu .dropMenu__item .dropMenu__trigger {
    padding: 5px;
    background-color: white;
    font-family: sans-serif; }
    .dropMenu .dropMenu__item .dropMenu__trigger .dropMenu__isOpen {
      margin-right: 10px; }
  .dropMenu .dropMenu__item .dropMenu__trigger:hover {
    background-color: #f4b60d;
    color: white; }
  .dropMenu .dropMenu__item .dropMenu__text {
    margin: 15px;
    color: black;
    text-decoration: none;
    display: none;
    font-family: sans-serif; }

.background:nth-of-type(4) {
  background-color: #fff;
  padding-top: 100px;
  height: 138px; }

.main__logos {
  display: block;
  margin: 0 auto 0 auto; }

.background:nth-of-type(5) {
  background-color: #2a2d32;
  height: 325px; }

.addInfo {
  width: 1160px;
  margin: 0 auto;
  padding-top: 60px; }
  .addInfo .addInfo__oneList {
    display: inline-block; }
    .addInfo .addInfo__oneList .addInfo__header {
      color: white;
      font-family: sans-serif; }
    .addInfo .addInfo__oneList .addInfo__List {
      list-style: none; }
      .addInfo .addInfo__oneList .addInfo__List .addInfo__item .addInfo__link {
        color: #828385;
        font-family: sans-serif;
        font-size: 12px;
        text-decoration: none; }
      .addInfo .addInfo__oneList .addInfo__List .addInfo__item .addInfo__link:hover {
        color: #248cec; }
      .addInfo .addInfo__oneList .addInfo__List .addInfo__item hr {
        width: 250px;
        height: 1px;
        background-color: #828385;
        border: 0;
        margin: 5px 0 5px 0; }
  .addInfo .addInfo__oneList:nth-of-type(n+2) {
    margin-left: 30px; }

.background:nth-of-type(6) {
  background-color: #35383c;
  height: 60px; }

.footer {
  width: 1160px;
  margin: 0 auto 0 auto;
  padding-top: 20px; }
  .footer .footer__info {
    color: #828385; }
  .footer .footer__copyright {
    color: #828385; }
  .footer .footer__icon:nth-of-type(n+2) {
    margin-left: 25px; }
  .footer .footer__copyright {
    margin-left: 320px; }

/*# sourceMappingURL=main.css.map */
